<%- include("layout/header") %>
    <main>
        <h1>Samiul Islam</h1>
        <p>New Town, Kolkata, India</p>
        <p>Email: demo@d.com</p>
        <p>Mob: +91 xxxxxx</p>
    </main>
<%- include("layout/footer") %>   